.cards .card{
    background-image: url(../atomicDesign/fondo.png);
    align-items: center;
    height: 185px;
    width: 238px;
    border: 0px;
}
.card h2{
    font-size: 25px;
}
.card h4{
    font-size: 12px;
}
.card button{
    border-radius: 50px;
    background: black;
    color: white;
    width: 73px;
    height: 24px;
    font-size: 12px;
}

@media (min-width: 320px) {
}

@media (min-width: 640px) {

}

@media (min-width: 1024px) {
    .products {
        height: 1371px;
    }
}

@media (min-width: 1280px) {

}