.hero__img-products {
  background-image: url(../assets/img/Slider-3.jpg);
  height: 25rem;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-top: 5rem;
  width: 100%;
}

.hero__title {
  margin-left: 2rem;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 3rem;
}

.search__widget {
  padding: 1rem;
  border: 1px solid #e9e9e9;
  border-radius: 7px;
  font-size: 1.4rem;
}

.search__widget input {
  border: none;
}

.search__widget input:focus {
  outline: none;
}
