.cart__item {
  padding-bottom: 2rem;
  border-bottom: 1px solid #e9e9e9 !important;
}

.cart__item-info img {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
}

.cart__product-title {
  font-size: 1.6rem;
  font-weight: 500;
}

.cart__product-price {
  font-size: 1.4rem;
}

.cart__product-price span {
  color: #a6032f;
  font-weight: 500;
}

.increase__decrease-btn {
  margin-top: 2rem;
  background: #f2b3d6;
  padding: 0.2rem 1rem;
  border-radius: 7px;
}

.increase__btn,
.decrease__btn {
  font-weight: 700;
  cursor: pointer;
}

.delete__btn {
  font-size: 1.8rem;
  font-weight: 700;
  cursor: pointer;
}
