.cart__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(243, 194, 221, 0.397);
  z-index: 99999;
}

.cart {
  position: absolute;
  top: 0;
  right: 0;
  width: 30rem;
  height: 100%;
  background: #ffffff;
  z-index: 9999999;
}

.cart__close {
  width: 100%;
  height: 5rem;
  color: #a6032f;
  padding: 1rem 1.5rem;
  font-size: 2.2rem;
  cursor: pointer;
}

.cart__item-list {
  height: calc(100vh - 11rem);
  overflow-y: scroll;
}

.cart__bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.5rem 2rem;
  width: 100%;
  height: 8rem;
  background: #f291bf;
}

.cart__bottom h6 {
  font-size: 1.6rem;
  font-weight: 700;
  color: #ffffff;
}

.cart__bottom button {
  border: none;
  padding: 0.4rem 1rem;
  border-radius: 7px;
  background: #a6032f;
  color: #ffffff;
  font-size: 1.4rem;
}
