.footer {
  padding: 5rem 0;
  background: #f2b3d6;
  margin-top: 6rem;
}

.footer__title {
  color: #ffffff;
  margin-top: 2rem;
}

.logo__text {
  font-size: 1.4rem;
  max-width: 80%;
  text-align: justify;
}

.opening__time-item {
  background-color: transparent !important;
}

.opening__time-item span {
  font-weight: 700;
  font-size: 1.4rem;
  color: #161616;
}

.opening__time-item p {
  color: #161616;
  font-size: 1.4rem;
}

.copyright {
  padding: 2rem 0;
  background: #f291bf;
  text-align: center;
  color: #ffffff;
  font-size: 1.4rem;
}

.logo-wirkisoft {
  cursor: pointer;
}
