.section4{
    background-image: url(../Images/image12.png);
    display: flex;
    justify-content: space-evenly;
    height: 200px;
    align-items: center;
}
.section4-text{
    font-size: 16px;
    align-self: center;
}
.section4 h2{
    text-align: center;
}